*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: oblique;
    width: 100%;
    height: 100dvb;
/* background-image:url(./task/imgsiva/Pain.webp);*/
   opacity: 1;
    background-image:url(./task/imgsiva/img1.jpg);
 background-size:100%;
 background-position: center;


}