body{
    margin: 0px;
    background-color: rgb(130, 160, 172);
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.container{
    border: 1px solid black;
    width: 900px;
    height: 500px;
    border-radius: 35px;
    background-color: antiquewhite;
    border: none;
}
.div1{
    border: 1px solid black;
     height: 40px;
    width: 810px;
    margin-top: 20px;
    border-radius: 30px;
    margin-left: 40px;
    display: flex;
     border: none;
     background-color: rgb(253, 241, 225);
   
    
}
.div2{
     border: 1px solid black;
     margin-top: 5px;
     margin-left: 5px;
     height: 30px;
     width: 70px;
    border-radius: 30px;
     border: none;
     background-color: rgb(253, 241, 225);
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
     border: none;
     border-radius: 20px;
     background-color: rgb(253, 250, 245);
}